[2020-06-18 00:35] stebo85 opened #35 "distribute a little browser (e.g. Midori) and a little VNC player with the package os that people don't have to install that?"

[2020-06-19 09:05] stebo85 opened #4 "Extend install script to handle software licenses"
Some containers we want to use need softare licenses (e.g. Freesurfer needs a license file, FSL needs people to agree to a license)
Subtasks:
- find out which software needs which license and if users need to agree or apply for a license
- extend the installer script for new containers to open a browser and point users to the license
- if a license file is required, store the license in the perman

[2020-06-24 04:41] aswinnarayanan opened #2 "github-ci builds passing but installation fails in logs"
https://github.com/NeuroDesk/neurodesk/runs/799675851

Installation process might not be generating correct exit codes.

[2020-07-03 04:40] stebo85 opened #3 "add correct icons for every tool we have"

[2020-07-10 00:14] stebo85 opened #5 "add SPM"

[2020-07-10 00:21] stebo85 opened #6 "add DICOM to BIDS converter (possibly dcm2niibatch or dcm2bids) + dicom2niix"

[2020-07-13 09:06] stebo85 opened #7 "add cmtk"
1) add recipe to neurodocker https://github.com/NeuroDesk/neurodocker and create pull request to neurodocker
2) build container here https://github.com/NeuroDesk/caid
3) test container and if successful add container to Readme table here https://github.com/NeuroDesk/neurodesk

[2020-07-13 21:15] stebo85 opened #8 "Add nighres container"
Nighres is a Python package for processing of high-resolution neuroimaging data

https://github.com/nighres/nighres
https://nighres.readthedocs.io/en/latest/installation.html

[2020-07-13 21:20] stebo85 opened #25 "submit project to open neuroscience website"
https://docs.google.com/forms/d/e/1FAIpQLSd2R1yFTAef9TLinfBolhMUw75YMK_9QfRnzHOavFexDSs4qQ/viewform

[2020-07-15 10:51] stebo85 commented on #3
done :)

[2020-07-15 10:51] #3 closed

[2020-07-16 04:40] stebo85 commented on #4
I added the freesurfer license to the container. FSL license gets displayed when running container.

[2020-07-16 04:40] #4 closed

[2020-08-21 01:20] stebo85 commented on #2
fixed.

[2020-08-21 01:20] #2 closed

[2020-10-12 01:27] stebo85 opened #10 "container path between --install_all_containers and indiviual install is inconsistent"

[2020-10-13 00:42] aswinnarayanan commented on #10
This is addressed in cc0a576f66387043ccd5da9ba99b99937c15ffb7
Container path is based on installdir in config file.
Will be fixed when merging https://github.com/NeuroDesk/neurodesk/tree/python_refactor

[2020-10-20 01:27] aswinnarayanan opened #11 "Make Lmod optional"

[2020-10-20 03:53] aswinnarayanan opened #13 "Containerise neurodesk"
Singularity/docker is already a pre-requisite for the neurodesk installer
Suggesting to containerize the core menu and container scripts, so remove the python pre-req
install.sh and uninstall.sh run the steps requiring root, so they can exist outside the container.

[2020-10-20 04:06] aswinnarayanan opened #14 "CI automated testing for neurodesk/neurocommand"
The menu generation is silently failing due to the runner not have lxde installed.
It's only checking for containers at the moment

[2020-10-20 04:19] #10 closed

[2020-10-28 08:40] civier opened #15 "Handle situations when python3 is not in /usr/bin/python3"
On our HPC, I need to load a module to have python3

[2020-10-28 08:43] aswinnarayanan commented on #15
If you load a module python or virtualenv, and then run build.sh, does it still use the wrong python?

[2020-10-28 09:02] civier commented on #15
No. Then it's fine.
I think you simply need to show an error message if python3 is not available in the path

[2020-10-28 09:03] civier opened #16 "Install on HPC"
In HPC, one doesn't have all the desktop related files, and if I don't specify directories, build.sh fails.
Need to add an option to install without the desktop stuff/menus

[2020-10-28 09:08] stebo85 commented on #16
@civier - you don't need to run build.sh on an HPC. Only install and than download containers

Could be made more explicit in the documentation @aswinnarayanan?

[2020-10-28 09:11] aswinnarayanan commented on #16
You don't need to run install.sh on HPC. Just build.sh ( --lxde mode will stop any menu errors)

Will  just create a proper containers flag to fix this properly

[2020-10-28 10:26] civier commented on #16
Even with the --cli option, I still get an error on /etc/xdg/menus/lxde-applications.menu

Traceback (most recent call last):
  File "/apps/skylake/software/compiler/gcc/6.4.0/python/3.7.4/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/apps/skylake/software/compiler/gcc/6.4.0/python/3.7.4/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, ru

[2020-10-28 10:34] aswinnarayanan commented on #16
https://github.com/NeuroDesk/neurodesk/commit/fa3239e2ef7b66be7120708ce9bbd62caee94c68
Does this fix the error?

[2020-10-28 11:21] civier commented on #16
Some containers.sh issues:
1) Need to print an error if Singularity is not in path (otherwise, there are errors all thorugh).
2) It searches for ts_binaryFinder.sh in my home directory (i.e. print "FATAL:   stat /home/ocivier/ts_binaryFinder.sh: no such file or directory")
3) Still prints "Container successfully installed" after each container install, which is a problem I believe

[2020-10-28 12:20] civier commented on #16
I manually copied ts_binaryFinder.sh to my home directory, and now it works (but please fix for the future).
Now I get another error, though:
./run_transparent_singularity.sh: line 156: commands.txt: No such file or directory
See below full log for when containers.sh tries to install tgvqsm

-------------------------------------
IMPORTANT: you need to set your system specific mount points in your

[2020-10-28 12:20] aswinnarayanan commented on #16
2. Could you post your config.ini?
3. It says successful container install when the installation failed?

[2020-10-28 12:26] civier opened #17 "Module use"
Add to readme instructions how to enable nuerodesk modules on startup.
According to what Steffen told me:
**The users simply have to run module use PATH_TO_NEUORDESK_MODULES – and this could be added to their .bashrc or they run it manually everytime.**

BTW, do you want me to update neurodesk's readme and code directly? I'm not sure.

[2020-10-28 13:44] civier commented on #16
Fixed the commands.txt issue in https://github.com/NeuroDesk/neurodesk/commit/0b80cb05f48191f758e93e12a16f1c750c74cfde
Hope it's ok for me to edit. If not, revert.

[2020-10-29 00:01] aswinnarayanan commented on #16
@civier, saw your changes and comments

My guess is `pwd -P` in transparent_singularity is causing the issues.
If that's the case, I think we should switch to this snippet to find and use the script directory.

_script="$(readlink -f ${BASH_SOURCE[0]})" ## who am i? ##
_base="$(dirname $_script)" ## Delete last component from $_script ##

I'll give it a try and see if it resolves things

[2020-10-29 00:02] aswinnarayanan commented on #17
Please feel free to make any updates/changes

[2020-10-29 00:29] aswinnarayanan opened #18 "CI for neurodesk/transparent-singularity"
neurodesk/transparent-singularity is a git subtree of https://github.com/NeuroDesk/transparent-singularity
Requires CI pipeline for testing and updating

[2020-10-29 05:51] aswinnarayanan opened #19 "containers.sh breaking"
Usually resolved by manually running all_exec.sh

[2020-11-05 03:57] aswinnarayanan commented on #16
@civier, feel free to re-open if more issues present. Closing

[2020-11-05 03:57] #16 closed

[2020-11-08 22:14] stebo85 opened #20 "containers from singularity cache and docker have different filenames -> breaking containers.sh"

[2020-11-09 12:46] civier opened #21 "Downloading Singularity container is very slow and does not terminate"
I was trying to download the updated fsl 6.0.4 container to OzStar (Swinburne HPC) at 11:30pm 9th of Nov. The download was extremely slow (said it will take approx. a hour) and terminated prematurely (see log below).
Do you know why the NECTAR object storage is so slow and unreliable? Is it common? I didn't get any notices on issues with NECTAR, but let me know if it was something temporary.

Anot

[2020-11-09 14:11] civier commented on #21
UPDATE:
Tried a few minutes later, and it downloaded the container at no time.
Do you see such severe performance fluctuations frequently? Do you think it is at the NECTAR's or the Swinburne's side?

[2020-11-09 20:34] stebo85 commented on #21
Dear @civier ,

We haven't seen such an issue before and I think it might be a network problem on your side. Detecting a corrupted sif file should already work - it should have gave you an error the second time you tried that asked you to delete the file? Did this not come up?

Cheers
Steffen

[2020-11-11 22:56] stebo85 commented on #21
I now added more error handling that detects if a container did not start and it offers to delete it
commit e3be524

[2020-11-11 22:56] #21 closed

[2020-11-18 02:53] aswinnarayanan commented on #19
Moved to #20

[2020-11-18 02:53] #19 closed

[2020-11-21 21:45] stebo85 commented on #6
done - I added bidstools container container dcm2niix and bidscoin

[2020-11-21 21:45] #6 closed

[2020-11-21 21:46] stebo85 commented on #5
done. I added SPM12 standalone

[2020-11-21 21:46] #5 closed

[2020-11-21 21:47] stebo85 opened #22 "move vnm documentation to neurodesk"
There should only be one entry point for users and then different inststructions depending on the system they are on. We keep vnm as the base-image for the neurodesk container

[2020-11-21 21:50] stebo85 opened #23 "create submenus for different categories"
Our application list is growing, so it's time to think about sub-categories:
- functional imaging (fsl, spm, freesurfer, fmriprep)
- data organisation (datalad, bidstools, mriqc, ...)
- diffusion imaging (mrtrix, fsl)
- structural imaging (fsl, minc, freesurfer)
- quantitative imaging (qsm)
- image segmentation (fsl, freesurfer, ashs)
- image registration (fsl, ants, minc, spm, freesurfer)
- progr

[2020-11-21 21:51] stebo85 opened #24 "make screen resolution dynamic based on VNC window size"

[2020-11-21 21:52] stebo85 opened #26 "add nextflow"

[2020-11-21 21:52] stebo85 opened #27 "start the vnm desktop with the same userid and groupid as the user locally to make sure that all network mounts work"
needs a modification in startup.sh and grabbing the ID from the command line parameter of starting the container

[2020-11-29 21:59] stebo85 opened #28 "build a github pages website for the project"

[2020-11-29 22:02] stebo85 opened #29 "inception mode: running singularity containers in singularity containers"
I know it's possible, but it's not working yet. this is how far I got:
https://colab.research.google.com/drive/1WmXStJpD0JTWePCYzK6nLQJ9Kq8Z40dY?usp=sharing

[2020-11-29 22:36] stebo85 opened #30 "reorganise documentation into github-pages"

[2020-11-29 22:42] stebo85 opened #31 "test if neurodesk containers runs on free tier of oracle, amazon, google, azure"

[2020-12-03 22:08] i-am-mel-dev commented on #28
Found https://github.com/radekosmulski/personal-site and want to test it because it seems like a super simple thing based on this https://andybrewer.github.io/mvp/ and looks cool a well, what do you think?

[2020-12-04 01:10] stebo85 commented on #28
Cool - this looks great :)

[2020-12-09 01:24] aswinnarayanan opened #33 "container.sh installation breaking on Centos7 HPC"
On CentOS Linux release 7.4.1708 HPC

`container.sh --all` breaks with the following error.

[code]

Running all_exec.sh manually afterwards works fine

[2020-12-09 04:23] aswinnarayanan commented on #33
Fixed in af2259977ce0e7f27047bb4e58bd4d3a6cc8b028

[2020-12-09 04:23] #33 closed

[2020-12-09 04:24] #18 closed

[2020-12-18 11:39] stebo85 opened #34 "add singuarlity storage cache location selector"
choice between US, and Australia

[2020-12-23 11:36] stebo85 commented on #34
solve by using aria2 and pulling from all caches at the same time - the fastest wins automatically + full redundancy if one cache is down

[2020-12-23 11:36] #34 closed

[2020-12-23 11:37] stebo85 commented on #31
tested for oracle cloud - works :)

[2020-12-31 00:48] stebo85 opened #38 "Running VNM on a MacBook pro as per the instructions. All went well, but in an open terminal window, module avail returns an error:"
Running VNM on a MacBook pro as per the instructions. All went well, but in an open terminal window, module avail returns an error:

Lmod has detected the following error:  avail is not possible,
MODULEPATH is not set or not set with valid paths.

root@36e04b583208:~# export | grep MODULE
declare -x LMOD_DEFAULT_MODULEPATH="/vnm/containers/modules"
declare -x MODULEPATH="/vnm/containers/modules"
d

[2020-12-31 00:48] stebo85 opened #39 "Right now 40 minutes into a download of AFNI and it's nowhere near done. Would be useful to have an estimate of the overall size of the download and overall progress. This is especially the case for users in regions less well served by fast or unlimited internet."
Right now 40 minutes into a download of AFNI and it's nowhere near done. Would be useful to have an estimate of the overall size of the download and overall progress. This is especially the case for users in regions less well served by fast or unlimited internet.

_Originally posted by @TomEmotion in https://github.com/NeuroDesk/neurodesk/discussions/37_

[2020-12-31 00:49] stebo85 commented on #39
- load balancing + aria2

[2021-01-04 23:28] stebo85 commented on #38
fixed in container version vnmd/vnm:20210104

[2021-01-04 23:28] #38 closed

[2021-01-04 23:31] stebo85 commented on #39
solved by adding mirrors and using aria2 for downloading from all mirrors at once

[2021-01-04 23:31] #39 closed

[2021-01-07 04:51] stebo85 commented on #29
works now :) Trick was to use singularity 3.7.0 and a sandbox directory:
singularity build --sandbox neurodesk_20210106 neurodesk_20210106.sif

[2021-01-07 06:09] civier commented on #29
So cool!
Do you know what are the Linux and Singularity versions that Colab runs?
The problem with HPCs is that RHEL has just recently started supporting user namespaces, and even if supported, it is often not enabled due to security concerns.
Can you test it on the UQ HPC?

[2021-01-07 23:09] stebo85 commented on #29
Correct, this doesn't work yet on most HPCs. It's a future feature :) But it works nicely in our vnm docker container.

You can test if your HPC supports it:

curl -X GET https://swift.rc.nectar.org.au:8888/v1/AUTH_d6165cc7b52841659ce8644df1884d5e/singularityImages/neurodesk_20210107.sif -O

curl -X GET https://swift.rc.nectar.org.au:8888/v1/AUTH_d6165cc7b52841659ce8644df1884d5e/singularityImages/

[2021-01-09 04:33] stebo85 commented on #20
fixed.

[2021-01-09 04:33] #20 closed

[2021-01-09 04:34] stebo85 commented on #22
ok, as is right now

[2021-01-09 04:34] #22 closed

[2021-01-09 04:34] stebo85 commented on #13
done. Needs testing.

[2021-01-09 04:37] stebo85 commented on #15
moved to #13

[2021-01-09 04:37] #15 closed

[2021-01-09 04:39] stebo85 commented on #14
also add testing the vnm and neurodesk container. Started setting up actions.

[2021-01-09 04:40] stebo85 commented on #35
add mac and linux installer as well

[2021-01-17 02:24] henry-burgess commented on #31
Hey @stebo85, I came across this project though QBI, so I decided to try spinning it up for free on Azure: https://henryjburg.medium.com/neurodesk-running-on-azure-3e38c590a152

Seems to work fine 😅

I'm planning to try it out on Google and AWS later too.

[2021-01-17 07:03] stebo85 commented on #31
That's wonderful to hear @henry-burgess. Thank you so much for testing this and reporting back and for the blogpost describing it :)

[2021-01-28 13:37] #23 closed

[2021-01-31 22:29] stebo85 opened #43 "find a scalable solution for mountpoints"
Currently changing the globablmountpoint list requires a rebuild of all containers - this is not scalable in the long term. Can anyone look into ways of not requiring the directories pre-created in the image? Do we know which HPC setups require this at the moment and can we convince the admins to change this?

Here a list of directories that users would like to have in addition to the ones we have

[2021-02-03 00:14] stebo85 commented on #29
This could be interesting: https://github.com/cvmfs/cvmfsexec

Discussion from singularity mailinglist:
It turns out that mounting SIF files in an HPC environment is a huge
performance benefit over sandboxed containers unpacked on a high-speed
file server.  That's because it moves the metadata operations to the
worker node instead of sending them all to the file server.  I think
this is a major re

[2021-02-03 00:19] stebo85 opened #44 "Play with the idea of distributing-container-images-on-cernvm-fs"
https://cvmfs.readthedocs.io/en/stable/cpt-containers.html#distributing-container-images-on-cernvm-fs

[2021-02-03 00:27] civier commented on #29
Thanks Steffen. I considered CVMFS for providing a remote standard conda environment in VNM, so let's discuss it as part of AEDAPT.

[2021-02-03 00:31] stebo85 commented on #29
Yes, would be good to play with this idea and see if it's viable for distributing our images

[2021-02-25 13:56] civier opened #45 "Freesurfer container looks for license file in wrong place"
The freesurfer container seems to set FS_LICENSE to /home/runner/license.txt at container initialisation
Even if I try to set it explicitly before calling the container, it is still being overwritten
FS_LICENSE should be unset, so freesurfer will look for the license file in the home directory of the user (the default)

[2021-02-25 22:13] stebo85 commented on #45
Dear Oren,

Thank you for flagging this. I made an attempt at fixing this and containers are currently rebuilding :)

Cheers
Steffen

[2021-03-02 04:37] civier opened #46 "Accessing data files that come with software packages using external applications"
Some software packages include not only executables, but also data files. Some users might wish to use these data files using external tools. An example might be using FSL MNI templates using MRtrix. I wonder if we should seek some solutions to make files from within the container available externally?
The user can always run the container interactively and copy the file to the home directory, so

[2021-03-02 05:17] stebo85 commented on #46
I am currently working on making all our containers available on CVMFS in an unpacked format - then users can directly use atlases from within the files.

[2021-03-02 05:26] civier commented on #46
That's a nice approach, but would not cover all scenarios. For example, the computing nodes on our HPC do not have internet access, so we'll need to have the files locally (unless there is an easy way for HPCs to mirror everything?)

[2021-03-02 05:39] stebo85 commented on #46
yes, cvmfs allows to download the software repository and make it available to all nodes if compute nodes don't have internet access

[2021-03-02 05:42] civier commented on #46
How often does it update? Can you send me some info on this option so I'll check if the folks at our HPC would support it?

[2021-03-02 05:46] stebo85 commented on #46
it can update as often as one sets it e.g. in a cron-job:
https://cvmfs.readthedocs.io/en/stable/cpt-hpc.html#downloading-complete-snapshots-of-cernvm-fs-repositories

[2021-03-04 02:14] civier opened #47 "Singularity containers do not run when working directory is a sshfs mount"
When I try to run a singularity container from a command line, e.g. typing fsleyes in the terminal after loading the fsl module, and working directory is a sshfs mount (either the base of the mount, or a subdirectory), the container does not run, and I get this error:
`ERROR  : Failed to open current working directory: Permission denied
`
Strangely, the same directory is accessible from within the

[2021-03-04 02:24] civier opened #48 "Why not loading all modules by default?"
Why not loading all downloaded modules by default, so users won't even need to do ml. Just to make things simpler and more intuitive.
There is always the chance that two packages will have overlapping commands, but then the user can unload the one not needed.
Did you check if there are even any conflicts that we need to worry about? On our HPC I load for users all NeuroDesk modules by default, and

[2021-03-04 02:35] civier commented on #6
Will be good to mention somewhere what the bidstools container contains. Can we add one sentence descriptions to one of the lists that are linked to from the GitHub readme?

[2021-03-04 02:36] aswinnarayanan commented on #48
Is this for Neurodesk container only mode?
Or VNM as well?

[2021-03-04 02:47] civier commented on #48
Whichever. I guess that HPCs don't do it by default because there will be clash between dynamic libraries required by different packages, but in our case it's a non-issue.

[2021-03-04 04:25] stebo85 commented on #48
Dear Oren,

There are a couple of contianers with overlapping binary names (e.g. FreeSurfer, QSMxT, mrtrix, fsl, fmriprep), so loading all of them would lead to problems.

Best
Steffen

[2021-03-04 04:26] stebo85 commented on #6
I documented it in the readme of the container:
https://github.com/NeuroDesk/caid/tree/master/recipes/bidstools

where else would be helpful?

[2021-03-04 04:27] stebo85 commented on #47
Dear @civier

you need to add your ssh-mounted directory to your SINGULARITY_BINDPATH environment module variable and then it should work.

Cheers
Steffen

[2021-03-04 04:29] stebo85 commented on #45
Dear @civier, can you confirm if the updated containers work for you now?

[2021-03-04 08:13] civier commented on #47
It IS added to SINGULARITY_BINDPATH
As I said, when I start the container from a different working directory, the ssh-mounted directory IS accessible from the container!
I attach a screenshot of the problem. /fred is the directory which is ssh-mounted on our HPC:
<img width="1680" alt="Screen Shot 2021-03-04 at 7 07 20 pm" src="https://user-images.githubusercontent.com/8280611/109931685-3f08d880-7

[2021-03-04 08:24] civier commented on #47
That's the output when running Singularity with the --debug flag:

**neuro@929c10268e06:/fred$ export PWD=`pwd -P`
neuro@929c10268e06:/fred$ singularity --debug exec --pwd $PWD /vnm/containers/mrtrix3_3.0.2_20201125/mrtrix3_3.0.2_20201125.simg mrview $@**
DEBUG   [U=1000,P=28855]   persistentPreRun()            Singularity version: 3.7.0
DEBUG   [U=1000,P=28855]   persistentPreRun()            Par

[2021-03-04 08:32] civier commented on #47
That might answer this, though a bit different:
https://github.com/hpcng/singularity/issues/2638
I'll check later on

[2021-03-04 08:33] stebo85 commented on #47
Interesting, but I don't know how to solve this problem.

[2021-03-10 01:25] civier opened #49 "Sometimes when choosing a GUI application from the menu for the first time, it won't open"
Sometimes when choosing a GUI application from the menu for the first time, the respective package IS downloaded, but the GUI application DOES NOT open. Unfortunately, the terminal with the log closes as well, so it's difficult for me to debug it. Is there a global log for NeuroDesk where I can go back and check such things? If not, will be a good idea to have one in future versions.
Notice that w

[2021-03-31 08:37] civier opened #50 "Seg fault when closing fsleyes"
When running fsleyes from a terminal within VNM that is running on a NECTR instance, I get this error printed when I close the fsleyes window:
/vnm/containers/fsl_6.0.4_20210105/fsleyes: line 3:  9453 Segmentation fault      singularity exec --pwd $PWD /vnm/containers/fsl_6.0.4_20210105/fsl_6.0.4_20210105.simg fsleyes $@

VNM version is 20210130.

Need to check if replicates on newest version of V

[2021-03-31 09:15] civier commented on #47
The problem is that Singularity actually runs with suid, and before dropping the admin privileges, it tries to access the working directory as root. By default, sshfs mounts only allow the user that created them to assess the mount, and that is why Singularity gives the error:
**ERROR : Failed to open current working directory: Permission denied**

The solution is to allow the root user to access

[2021-03-31 09:25] civier opened #51 "Adding help to the menu of VNM"
We should have an "help" item in the menu. Currently it can simply open a browser at https://github.com/NeuroDesk/vnm
We can also make https://github.com/NeuroDesk/vnm the homepage of the browser, but some sites will change the homepage for something else (we plan to do it in Swinburne)

[2021-03-31 09:29] civier opened #52 "Changing VNM screen size should be in menu"
For people that only use the GUI, this might the only time when they need to run something in the terminal, and we don't want it. Also, it is cumbersome to run a command everytime you want to change screen size.

[2021-03-31 10:08] stebo85 commented on #52
Dear @civier, this should be doable via a script in the menu of VNM, you should try to add it and propose a pull request: I would start here:
https://github.com/NeuroDesk/neurodesk/blob/master/vnm/Dockerfile

[2021-03-31 10:10] stebo85 commented on #51
yes, good idea. I would be good if you can try to add it: Can we done in here as well (similar to the screen size change script):
https://github.com/NeuroDesk/neurodesk/blob/master/vnm/Dockerfile

[2021-03-31 10:11] stebo85 commented on #50
This looks like a bug in FSLeyes that we cannot do much about. Does it happen for other fsl container versions as well? It shouldn't depend on the VNM version.

[2021-03-31 10:15] stebo85 commented on #47
Dear @civier

It would be good if you can try to add this yourself. It should only be one line in here:
https://github.com/NeuroDesk/neurodesk/blob/master/vnm/Dockerfile

[2021-03-31 10:17] stebo85 commented on #48
closing, because it would lead to a lot of problems with overlapping binary names.

[2021-03-31 10:17] #48 closed

[2021-03-31 10:18] stebo85 commented on #45
closing. I tested it myself and it's working now (also updated documentation of FreeSurfer)

[2021-03-31 10:18] #45 closed

[2021-03-31 10:19] stebo85 commented on #43
hoping for this problem to solve when moving to cvmfs - we can then create the mountpoints on cvmfs directly

[2021-03-31 10:21] stebo85 commented on #17
any updates on this one @civier ?

[2021-03-31 10:23] stebo85 commented on #11
any updates on this one @aswinnarayanan? Isn't this working already?

[2021-03-31 10:27] stebo85 commented on #47
great work @aswinnarayanan :) @civier can you test?

[2021-03-31 10:38] aswinnarayanan commented on #11
Yes, Closing

[2021-03-31 10:38] #11 closed

[2021-03-31 10:41] aswinnarayanan commented on #13
Extended into [feature/singularity-installer](https://github.com/NeuroDesk/neurodesk/tree/feature/singularity-installer)

[2021-04-12 03:48] civier opened #53 "Web browser in VNM fails to render some webpages"
Tom Johnstone from Swinburne will look into this. He says it is a known problem with web browsers accessed via VNC.

[2021-04-15 14:04] civier opened #54 "Adding standard recommended way to add storage to a running VNM"
If we want the VNM to serve as an actual working environment, users  might need to add extra FAST storage midway (especially in the case that the VNM is running on the cloud, and users might request for extra storage only when they need it). From what I've read online, there isn't really a proper way to add storage to a running container, not even if I pause and then restart it (and nothing can be

[2021-04-15 14:04] civier opened #61 "Adding standard recommended way to add storage to a running VNM"
If we want the VNM to serve as an actual working environment, users  might need to add extra FAST storage midway (especially in the case that the VNM is running on the cloud, and users might request for extra storage only when they need it). From what I've read online, there isn't really a proper way to add storage to a running container, not even if I pause and then restart it (and nothing can be

[2021-04-18 08:38] civier opened #55 "Set timezone inside VNM to the timezone of the host machine"
Right now it is set to UTC. I'm using VNM version 20210130

[2021-04-18 08:39] civier opened #56 "Showing version of VNM"
It will be good to show somewhere in the GUI the version of the VNM the user is using. Will be very useful for debugging.
Maybe we should have in the menu an "about" window that display credits (our names, our institution names) and version.

[2021-04-23 01:49] civier commented on #53
This is what I get what I try to go to gmail
<img width="1680" alt="Screen Shot 2021-04-23 at 11 47 41 am" src="https://user-images.githubusercontent.com/8280611/115806354-f8388480-a429-11eb-846b-7a5d5973ebab.png">

[2021-04-27 03:33] stebo85 commented on #53
Dear @civier,

This could be a memory problem. Are you running this container in Windows or Linux?

If Linux, are you starting the container containing the argument: -v /dev/shm:/dev/shm ?

[2021-04-27 03:33] stebo85 commented on #56
yes, good idea. Should be easy to implement. Give it a go and submit a pull request :)

[2021-04-27 03:35] stebo85 commented on #55
yes, good idea and I noticed this as well, but I don't know how to find out in which timezone the host machine is. We would need a command line argument potentially when starting it up? Any ideas anyone?

[2021-04-27 03:35] #50 closed

[2021-04-27 03:40] civier commented on #53
A NECTAR instance Ubuntu.

No. I do not use this argument, but I can try. Do NECTAR instances have
shared mem by default or should I allocate one? How many gigs to start with?

*Tom, do you have a github handle so we can add you to the discussion?*

Best,
Oren

On Tue, Apr 27, 2021 at 1:33 PM Steffen Bollmann ***@***.***>
wrote:

[2021-04-27 03:45] civier commented on #56
Hi Steffen,

I would be more than happy to do some pull requests, but I'm up to my neck
at the moment (we're starting to scan again). Just give me time.

Best,
Oren

On Tue, Apr 27, 2021 at 1:34 PM Steffen Bollmann ***@***.***>
wrote:

[2021-04-27 05:54] stebo85 commented on #53
Ok, then please start the container as described in the documentation and this problem should not appear:

sudo docker run --privileged --name vnm -v ~/vnm:/vnm -v /dev/shm:/dev/shm -e USER=neuro -p 6080:80 vnmd/vnm:20210323

Shared memory (SHM) in Linux is needed for chrome to work ok and by default is too small.

Can you test this and let me know if this was the problem?

[2021-04-28 08:59] civier commented on #53
Sure – my handle is TomEmotion

From: Oren Civier ***@***.***>
Reply to: Oren Civier ***@***.***>
Date: Tuesday, 27 April 2021 at 1:40 pm
To: NeuroDesk/neurodesk ***@***.***>
Cc: Tom Johnstone ***@***.***>
Subject: Re: [NeuroDesk/neurodesk] Web browser in VNM fails to render some webpages (#53)

A NECTAR instance Ubuntu.

No. I do not use this argument, but I can try. Do NECTAR instances have shar

[2021-05-06 02:11] civier opened #58 "ONLY FIX IF PROBLEM REPLICATES -- Problem after resizing"
After resizing the VNM window with "curl localhost:6079/resize" and reconnecting, trying to re-launch "mrtrix3 3.0.2" from the menu (it was already downloaded and launched before the resize), pops up the following error:
![MRTRIX_Error](https://user-images.githubusercontent.com/8280611/117231321-5b7ed980-ae62-11eb-8f4e-44540f63a3b1.jpg)
In addition, when trying to launch "mrviewGUI 3.0.2", nothing

[2021-05-06 02:27] civier opened #59 "Add the "screen" command to base VNM image"
Right now, resizing the screen using the curl command will terminate all running applications. Terminal applications can survive if being ran within a "screen" session, but "screen" is not currently installed.
screen should be added then to the base image.

[2021-05-06 02:43] stebo85 commented on #59
yes, screen is a useful edition. Feel free to submit a pull request adding it to the base image

[2021-05-06 02:44] stebo85 commented on #58
yes, the whole screen resizing implementation is very experimental and unlikely to work reliably. It would be good to find a better alternative there. Please feel free to submit constructive ideas how to improve on this.

[2021-05-12 04:21] thomshaw92 opened #60 "Problem with WSL2 install using RDP"
I've followed all instructions on the WSL2 install (singularity, Lmod, xdrp, etc all working) - up until the final step where I open windows RDC and have localhost:3390 as the computer.
The xrdp login promts 'session {Xorg}, username {blank} password {blank} '
I click OK and get a login error.
![image](https://user-images.githubusercontent.com/31721414/117917867-54a60a00-b32d-11eb-9c2c-14e0e52d32b

[2021-05-12 10:29] stebo85 commented on #44
implemented in base image from 20210512

[2021-05-12 10:29] #44 closed

[2021-05-12 10:29] #52 closed

[2021-05-12 10:30] stebo85 commented on #52
related to #24 and should be discussed there.

[2021-05-12 10:30] stebo85 commented on #58
should be discused in #24

[2021-05-12 10:30] #58 closed

[2021-05-12 23:16] stebo85 commented on #55
Idea how to fix this:
- https://www.wikihow.com/Change-the-Timezone-in-Linux
- get timezone of user via command line argument of docker container
- capture in startup.sh and set there
- also choose cvmfs mirror based on timezone

[2021-05-13 00:10] aswinnarayanan commented on #60
Hi @thomshaw92. If you fill in the WSL username and password in the xrdp login, do you get the same error?

[2021-05-13 13:47] aswinnarayanan commented on #47
Resolved

[2021-05-13 13:47] #47 closed

[2021-05-13 13:48] aswinnarayanan commented on #59
Thanks @stebo85. Resolved here https://github.com/NeuroDesk/vnm/commit/29f55bfafa3253523a06fe60491edb6d4c66a3b3

[2021-05-13 13:48] #59 closed

[2021-05-21 00:18] stebo85 opened #62 "Electron Application for handling docker container's + VNC connection"
Potentially a nice project for the OHBM hackathon:

Develop an Electron Application that runs on linux, mac and windows that handles the docker commands (and checks if docker is correctly installed) and that provides a VNC viewer with a working clipboard integration.

[2021-06-01 03:21] civier commented on #53
A solution that seems to work for Will Woods from our centre is the following:
The VNM browser 'Aw Snap' issues appear to be related to the default small size of /dev/shm in Docker https://github.com/stephen-fox/chrome-docker/issues/8  Starting from the terminal with /usr/bin/google-chrome-stable --disable-dev-shm-usage seems to work

We should incorporate it into VNM as the standard way of launch

[2021-06-01 04:20] stebo85 commented on #53
Dear Oren,

I can certainly add --disable-dev-shm-usage to the chrome starting command. The other option is the work-around I previously suggested:
adding -v /dev/shm:/dev/shm to the docker command - did you try this?

Best
Steffen

[2021-06-01 07:12] stebo85 commented on #53
@civier , if you want to add --disable-dev-shm-usage, i think this file would be a good starting point:
/usr/bin/x-www-browser

[2021-06-03 03:00] civier commented on #61
Dear @dean-taylor,

This is Oren Civier from ARCOS. As I mentioned in the meeting, we are facing much more trivial things, like adding storage on-the-fly to a running container. Above is a Github post that Aswin (from UQ) wrote me with a possible (very awkward) solution. Are there better solutions out there at the moment? Notice that we simply run the container within a NECTAR instance, very simpl

[2021-06-15 07:09] thomshaw92 commented on #53
Same problem here!
Bumping :)

[2021-06-16 04:54] meganEJcampbell commented on #30
Keen to try to help if I can (during 2021 brainhack). Does anyone have notes that I can compile into documentation?
 Is there a good how-to someone can suggest for creating a GitHub Wiki perhaps?

[2021-06-16 05:09] aswinnarayanan commented on #30
Hi @meganEJcampbell. There is a wiki here [https://github.com/NeuroDesk/vnm/wiki]()
That currently hosts all the advanced documentation that isn't already present on either the neurodesk or vnm README

[2021-06-16 05:11] meganEJcampbell commented on #30
Ahh I was looking here: https://github.com/NeuroDesk/neurodesk/wiki
So what's needed to contribute to this issue #30?

[2021-06-16 05:29] aswinnarayanan commented on #30
This issue is referring building documentation via [readthedocs.org](https://github.com/readthedocs/readthedocs.org)
I'll have an account linked up via the quick-start. @meganEJcampbell, would you keen to help contribute to it?

[2021-06-16 06:11] meganEJcampbell commented on #30
On second thoughts, I'm such a newbie that my trying to contribute to this will become work for others trying to help me learn how to contribute!

[2021-06-16 06:26] stebo85 commented on #30
Dear @meganEJcampbell - it's super valuable to have you input - I also don't have any idea about readthedocs and how to document things nicely. So anything helps :)

[2021-06-16 07:03] aswinnarayanan commented on #30
Hi @meganEJcampbell, your contribution would be incredibly valuable. The project is currently lacking a lot in documentation.

I suggest we use github-pages to handle the documentation.

readthedocs looks quite powerful, especially when it comes to versioning and tagging, but it uses reStructuredText.

github-pages uses markdown, it'll be much easier to edit and preview, while being more organised

[2021-06-17 01:59] aswinnarayanan commented on #30
There's a new github pages site for central documentation at https://github.com/NeuroDesk/neurodesk.github.io

All pages can be via the browser and markdown, there's a short guide on the front page regarding Markdown
It uses [index.md](https://github.com/NeuroDesk/neurodesk.github.io/blob/main/index.md) as the homepage and further pages can organised into [docs/](https://github.com/NeuroDesk/neuro

[2021-06-17 04:12] stebo85 commented on #30
Wow, this looks awesome already!!!!!

[2021-06-17 05:55] aswinnarayanan commented on #28
Done. https://github.com/NeuroDesk/neurodesk.github.io

[2021-06-17 05:55] #28 closed

[2021-06-17 06:47] stebo85 opened #64 "module avail doesn't bring modules yet"
- start with documentation and
- then hack module system to install software (prepopulate avail and then run fetch script)
-
-

[2021-06-17 13:03] civier opened #65 "Handle same executables in two different Singularity containers"
If the user loads a Singularity container that has executables with identical names to those in another container, the container that was loaded second in line will take precedence.
For example. if the user ran:
[code]
Running h5ls will execute the h5ls included in fsl.

This behaviour might be very confusing to users, as they might not be aware that the executable is even included in the 2nd cont

[2021-06-17 22:21] stebo85 commented on #65
Dear @civier

This behaviour is standard linux and module behaviour and is in my opinion what every user should expect. If people don't want to deal with this complexity they should launch containers from the application menu instead of using the advanced way.

printing your proposed warning could lead to a slow module loading behaviour, so if this feature is important to you, then I recommend tha

[2021-06-17 22:22] stebo85 commented on #60
Dear @thomshaw92 - can you test if this worked for you, so we can close this issue?

[2021-06-17 22:23] stebo85 commented on #56
Dear @civier

Did you make any progress in implementing this feature you requested?

Kind regards
Steffen

[2021-06-17 22:25] stebo85 commented on #31
closing for now as the new CVMFS implementation makes it pretty much run on any free tier :)

[2021-06-17 22:25] #31 closed

[2021-06-17 22:25] stebo85 commented on #30
@meganEJcampbell and @aswinnarayanan - great work on this :) I like the new landing point to the project a lot!

[2021-06-17 22:33] stebo85 commented on #25
done!

[2021-06-17 22:33] #25 closed

[2021-06-17 22:34] #17 closed

[2021-06-17 23:11] thomshaw92 commented on #60
Yep that worked.

[2021-06-17 23:11] #60 closed

[2021-06-17 23:19] civier commented on #65
Sounds good. I actually have it half-done already :-)
However, testing will have to wait until I wrap up my pending manuscripts
first.

Cheers,
Oren

--
Oren Civier
Neuroimaging Informatics Fellow
Swinburne Neuroimaging | National Imaging Facility
https://anif.org.au/team/oren-civier/
https://www.swinburne.edu.au/neuroimaging

Swinburne University of Technology
Hawthorn Campus, Advanced Technologi

[2021-06-17 23:54] #46 closed

[2021-06-17 23:55] stebo85 commented on #49
closed due to inactivity and couldn't reproduce the problem.

[2021-06-17 23:55] #49 closed

[2021-06-17 23:58] stebo85 commented on #27
+ store homedirectory locally to keep data persistent across sessions

[2021-06-18 05:56] stebo85 commented on #64
Proposal from @civier:
Keep the current startup menu as-is, to cater for more novice users. Only change: instead of opening a shell within the container, open a regular shell and just automatically load the specific package clicked upon in the GUI. The reason: novice users don't even need to know that Singularity is below the hood, and having a shell that behaves differently (as it runs within the

[2021-06-18 05:57] stebo85 commented on #64
@civier - I assigned this issue to you. If you can implement a proof of concept we can integrate this behaviour.

[2021-06-18 06:48] civier opened #69 "Broken logo pictures in the website"
Here: https://neurodesk.github.io/
I don't know how to deal with Jekyll, but you're welcome to fix or teach me.

[2021-06-18 07:10] aswinnarayanan commented on #69
I think the issue is that they are linked to the [repo blob](https://github.com/NeuroDesk/vnm/blob/master/nif.png). Butthey should be linked to the [raw content](https://raw.githubusercontent.com/NeuroDesk/vnm/master/nif.png)

But I'd suggest to reupload the images onto [neurodesk.github.io/assets/img/](https://github.com/NeuroDesk/neurodesk.github.io/tree/main/assets/img)
That way the webpage isn

[2021-06-18 07:34] meganEJcampbell commented on #30
Brilliant so I'll focus on reorganising what's in the wiki into the content for your github-page. I'll try my best but fair warning this is my first attempt at such a thing! Also it will have to be next week at the earliest.

[2021-06-18 07:36] stebo85 commented on #30
sounds great :) Thank you!

[2021-06-23 14:45] aswinnarayanan commented on #69
https://github.com/NeuroDesk/neurodesk.github.io/commit/7e0113426e5b0ef09756df2f74c78e47b37d31f9

[2021-06-23 14:45] #69 closed

[2021-07-07 05:22] aswinnarayanan opened #75 "Transparent singularity only runs on container download"
Transparent-singularity container unpack and module script are triggered by container download. If user moves neurodesk directory and want to reuse downloaded containers, the transparent singularity and module scripts do not currently update their absolute paths

[2021-07-08 08:00] thomshaw92 opened #76 "problem mounting /30days when downloading Freesurfer image from CLI"
HPC no longer supports /30days and so the bindpaths seem to make the container build fail when fetching freesurfer
(run on awoonga)
[code]

[2021-07-08 08:04] aswinnarayanan commented on #76
Related #75

[2021-07-09 13:19] aswinnarayanan commented on #61
Hi @civier. Did you try the method outlined and did it work? Were there any issues?
I think you mentioned it this was for a cloud installation, so guessing it is a Linux host.

[2021-07-09 13:21] aswinnarayanan commented on #30
Issue can be closed. Thanks @meganEJcampbell

[2021-07-09 13:21] #30 closed

[2021-07-09 14:00] aswinnarayanan commented on #76
@thomshaw92
This looks like an issue with the singularity configuration on the HPC
Does this error when opening a generic singularity container on the same HPC?

e.g.
[code]

And this should suppress the auto-mounts
`singularity shell --contain alpine_latest.sif`

[2021-07-11 09:56] stebo85 commented on #76
Yes, this is an issue with awoonga - not our containers. I already send a helpdesk ticket. Workaround is to use singularity 2.6.1 as this just shows a warning but still executes the container with wrong global bindpaths.

[2021-07-11 09:57] #76 closed

[2021-07-19 12:30] civier opened #79 "Wrong text under the NeuroDesk installer heading"
Under the "NeuroDesk installer" heading on NeuroDesk webpage, it says:
"A flexible, scalable, and easy to use data analysis environment for reproducible neuroimaging. Virtual Neuro Machine (or VNM) pre-installs Neurodesk in an Ubuntu docker container providing simple access to the powerful capabilities of Neurodesk."

This is a description of VNM, so I think it is misplaced.

[2021-07-19 12:59] aswinnarayanan commented on #79
https://github.com/NeuroDesk/neurodesk.github.io/commit/3621f16abba21d249559409abd151fe60ae9aad0

[2021-07-19 12:59] #79 closed

[2021-08-11 13:15] civier opened #86 "Add tools to handle BIDS conversion"
Add containers for BIDScoin and its dependency, dcm2niix

[2021-08-11 13:17] civier commented on #86
Already addressed in https://github.com/NeuroDesk/neurodesk/issues/6

[2021-08-11 13:17] #86 closed

[2021-08-29 05:55] aswinnarayanan commented on #24
This function is partly available on  [neuromachine](https://github.com/NeuroDesk/neuromachine)
- Neuromachine RDP Desktop supports this function
- Neuromachine VNC Desktop via web browser currently only supports auto-scaling (i.e. zooming) and resolution can be changed manually via LXDE monitor settings (needs documentation)
- TigerVNC client supports auto-resolution.

Looks like VNM auto-resolut

[2021-08-30 22:58] civier opened #89 "Running Neurodesk with sandboxes and without internet access"
@stebo85 @aswinnarayanan
Good news: Our supercomputer at Swinburne is now supporting user namespaces, so we can have Singularity containers nesting (if both host and nested containers run as sandboxes).

Bad news: Due to security concerns, our supercomputer is not allowing anymore to run privileged Singularity containers from sif files. If we try to run from sif, the container will first be unpack

[2021-08-31 01:00] stebo85 commented on #89
Dear @civier,

It sounds your admins try to build a nicely unusable super computer :D

I added a feature recently to Transparent singularity that can unpack our containers: https://github.com/NeuroDesk/transparent-singularity/blob/e07d7201ec6aba83225678f524933becbdb69e04/run_transparent_singularity.sh#L214

The only problem is that this requires root for the containers to work afterwards and I hav

[2021-08-31 01:40] civier commented on #89
Dear @stebo85,

Yes. Our admins are crazy ;-)
I will look into the transparent singularity feature and get back to you.

I could run fslmaths from an unpacked container on our HPC, and didn't encounter any issues. Can you please post the exact executable within the fsl container that gives you library errors without elevated privileges?
Or is it that you get library errors when running the contain

[2021-08-31 10:39] stebo85 commented on #89
Dear @civier and @aswinnarayanan

I tried to reproduce the problem I had and I think it was caused by a full disk (that's why fsl and mrtrix containers were causing the problem, but other containers were ok). The unpacking now works and I can't reproduce the problem anymore.

I removed the sudo from the transparent singularity installer and it should work now to unpack all our images on the HPC.

[2021-08-31 13:14] civier opened #90 "Install the Linux utility "less" in the MRtrix3 container"
MRtrix3 uses "less" when displaying help for commands. However, "less" is not included in mrtrix3_3.0.1_20200908 (but check latter versions)

[2021-08-31 13:28] civier commented on #89
Dear @stebo85,

All works well, after adding the "--unpack true" at the end :-)

BTW, is all it's doing is simply unpacking the containers? If yes, can I just unpack the containers of our existing installation (keeping the same filename, including the .sif/.simg, for the folder name) and all should work fine?

Thanks for your assistance,
Oren

[2021-08-31 22:00] stebo85 commented on #89
Yes, that should work @civier

[2021-08-31 22:07] stebo85 commented on #90
you can add less in here:
https://github.com/NeuroDesk/neurocontainers/blob/master/recipes/mrtrix3/build.sh

[2021-09-03 04:14] civier opened #91 "A recent freesurfer container might be corrupted"
Freesurfer 7.1.1 20210105 which was in the menu of a previous VNM version may be defective, as we get errors when either running or unpacking it.
I can send the full error message if necessary.

[2021-09-03 04:39] stebo85 commented on #91
Dear @civier ,

Freesurfer 7.1.1 20210105 is depcrecated and the working version is freesurfer_7.1.1_20210225

Please update your VNM container to the current version.

[2021-09-03 04:39] #91 closed

[2021-09-03 05:37] civier commented on #91
OK. Is there a way to change it in an active container, or do I need to stop/start the container to make changes to the menu? Or is it that the only way to upgrade the menu is to move to a new VNM version, as you suggest? (that would be costly, as people are currently using NECTAR instances with the old one)
BTW, is it documented somewhere that 20210105 is deprecated? or do we have a readme for ev

[2021-09-03 05:59] aswinnarayanan commented on #91
Hi @civier.

On a running vnm container, the menu can be updated using the neurodesk update commands found here [here](https://github.com/NeuroDesk/neurodesk#to-update). The neurodesk directory is at /neurodesk on vnm.

But, I'd strongly advice that they shutdown the current vnm, pull the latest version and run that instead to fix it.

[2021-09-03 06:23] civier commented on #91
Thanks @aswinnarayanan

May I ask why does neurocontainers even have multiple versions of a specific container, like FreeSurfer 7.1.1?
https://github.com/NeuroDesk/neurocontainers/pkgs/container/caid%2Ffreesurfer_7.1.1
Are those versions of freesurfer 7.1.1 with different patches? Or is it that all the old versions are deprecated and were replaced by new ones due to bugs, etc.?

"I think neurocont

[2021-09-03 06:54] aswinnarayanan commented on #91
The tags are the date that the container image was built. Its probably due to some changes in the container recipe. You would have to investigate the repo and commit of the recipe file that generated the image, the commit information is tagged as a label [here](https://github.com/NeuroDesk/neurocontainers/blob/d3395fc97672319f9f953990359891cc19865bcf/.github/workflows/build-docker.sh#L21)

Not sur

[2021-09-03 07:04] civier commented on #91
@stebo85 Do you know why the freesurfer 7.1.1 container was re-built so many times. Were there any issues with it?
@DavidjWhite33 wants to know.

[2021-09-03 10:20] #89 closed

[2021-09-03 10:23] stebo85 commented on #91
@civier, yes there were a couple of issues with the freesurfer container. Please have a look at the git history of the build script where it is documented.

[2021-09-07 03:30] #24 closed

[2021-09-07 05:51] civier opened #93 "Giving Dave permission to edit neurocontainers"
Hi @aswinnarayanan and @stebo85

Could you please grant Dave (@DavidjWhite33) permission to edit neurocontainers (https://github.com/NeuroDesk/neurocontainers)
He starts experimenting with adding containers to NeuroDesk, and trying to follow the instructions you provide here:
https://github.com/NeuroDesk/neurocontainers#adding-new-recipes

Thanks ahead,
Oren

[2021-09-07 08:00] aswinnarayanan commented on #93
Hi @civier. You should be able to add @DavidjWhite33

[2021-09-07 08:00] #93 closed

[2021-09-07 10:57] stebo85 commented on #93
Dear @civier

I am not sure why you were not able to add @DavidjWhite33 yourself to the repo. I added him now.

Cheers
Steffen

[2021-09-07 11:36] civier commented on #93
Thanks Steffen and Aswin.
I thought I do not have permission to add extra developers. Sorry about
that.

Best,
Oren

On Tue, 7 Sep 2021, 20:58 Steffen Bollmann, ***@***.***>
wrote:

[2021-09-08 01:04] thomshaw92 commented on #35
Update to Electron app instead of .bat scripts etc

[2021-09-08 01:04] #35 closed

[2021-09-08 02:01] aswinnarayanan opened #94 "Add vs code to neuromachine quick launch"

[2021-09-08 02:18] aswinnarayanan opened #95 "[neuromachine] Install miniconda"

[2021-09-08 03:34] stebo85 opened #96 "Should we include manpages in VNM?"
### Discussed in https://github.com/NeuroDesk/neurodesk/discussions/83

<div type='discussions-op-text'>

<sup>Originally posted by **civier** August  4, 2021</sup>
The system has been minimised by removing packages and content that are not required on a system that users do not log into.
At least for me, it will be useful (not sure how much storage it occupies)</div>

[2021-09-08 03:58] stebo85 commented on #61
Closing, because currently out of scope as this is a docker issue we can’t solve right now

[2021-09-08 03:58] #61 closed

[2021-09-08 04:05] stebo85 commented on #62
Niruhan is working on this, once the next protoype is ready it will be forked to hear

[2021-09-08 04:10] stebo85 commented on #65
closed, because this is how the module system works and is supposed to work.

[2021-09-08 04:10] #65 closed

[2021-09-09 04:25] aswinnarayanan opened #97 "Rename neurodesk repo to neurocommand"

[2021-09-15 03:22] stebo85 commented on #97
done, right?

[2021-09-15 03:22] #97 closed

[2021-09-17 00:40] stebo85 opened #99 "mriqc has no category?"

[2021-09-17 07:14] stebo85 commented on #99
fixed

[2021-09-17 07:14] #99 closed

[2021-09-17 07:14] stebo85 opened #100 "should we add a writable overlay to the containers?"
https://sylabs.io/guides/3.5/user-guide/persistent_overlays.html

[2021-09-17 07:48] civier commented on #100
Would be definitely useful as an option, although nobody came to me with
this requirement till now.
More urgent will be to have an overlay (or whatever the equivalent in the
docker world is) for Neuromachine. This way, advanced users can install
software manually, and take the updated container with them to another
platform.

Any thoughts?

On Fri, Sep 17, 2021 at 5:14 PM Steffen Bollmann ***@***.

[2021-09-17 09:20] stebo85 commented on #100
A writable overlay is not possible for Docker as far as I know - only for singularity. I also thought about it more and think we definitely should NOT do this, as a writable overlay defeats the purpose of the project as it would make the environment not reproducible.

[2021-09-17 09:20] #100 closed

[2021-09-18 05:43] civier commented on #100
I do not completely agree, because I think that also expert users should be
able to use VNM, and they often need to install additional software (we
don't want to force them to learn how to build containers, or to be a
bottleneck ourselves). So an option to take the VNM that was used for the
analysis (with any changes made) would be useful. It is true that most of
the software is in containers anyw

[2021-09-18 08:07] stebo85 commented on #100
Dear @civier

An expert user can simply write a script that performs the modifications. This would then also be reproducible. No need to add to the agenda.

Kind regards
Steffen

[2021-10-04 23:45] #14 closed

[2021-10-12 21:15] stebo85 opened #101 "test no-home option as default for neurocommand (maybe use fakehome option?)"

[2021-10-12 21:19] stebo85 opened #102 "Remove miniconda and niypye from baseimage once python setup works on cvfms"
add this to .bashrc
[code]

ln python binary from container to /opt:
[code]

[2021-10-26 11:27] #102 closed, assigned to stebo85

[2022-02-04 08:09] civier opened #107 "How to run the a Singularity container within Neurodesktop so it will be writable?"
Hi @aswinnarayanan @stebo85

In order to do some tests, I would like to run a Singularity container within Neurodesktop, but in a way that I can write inside the Singularity container (e.g., in order to install things for testing). I do not need persistency or anything like that, just permission to write in system folders where software is usually installed when running apt-get.
I tried to give Si

[2022-02-04 08:45] stebo85 commented on #107
yes, this is possible and I regularly use this for testing and trying to figure out why containers don't build.

I build in a switch into the build.sh command to do this: https://github.com/NeuroDesk/neurocontainers/blob/master/recipes/main_setup.sh

Cheers
Steffen

[2022-02-04 08:51] stebo85 commented on #107
sudo singularity build --sandbox ${imageName}_${buildDate}.sif ${imageName}.Singularity

would give you a sandbox and then you need to shell into it with sudo as well (because most files in the sandbox are owned by root)

Another option is to use an overlay file:

singularity overlay create --size 1024 /tmp/ext3_overlay.img
singularity shell --overlay /tmp/ext3_overlay.img yourcontainer.img

[2022-02-04 08:51] #107 closed

[2022-02-04 09:11] civier commented on #107
Thanks @stebo85

BTW, will the --overlay option work also if yourcontainer.img is on the CVMFS? If not, is there another solution for containers on the CVMFS?

Best,
Oren

[2022-02-04 09:18] stebo85 commented on #107
Yes overlay also works for containers in CVMFS.

[2022-02-08 06:46] civier commented on #107
@stebo85 I tried the overlay approach, but still "apt-get update" does not run successfuly.
What am I missing? (tried both with and without --fakeroot)
<img width="1680" alt="Screen Shot 2022-02-08 at 5 42 21 pm" src="https://user-images.githubusercontent.com/8280611/152932769-da460b33-08d2-4b28-bdc8-24660d8fd044.png">
Hope it's nothing silly I forgot :-(

[2022-02-08 07:09] civier commented on #107
@stebo85  Got up to 'apt-get install sshfs', but something is still not working. Any clue how my setup is different than yours?

<img width="1680" alt="Screen Shot 2022-02-08 at 6 07 08 pm" src="https://user-images.githubusercontent.com/8280611/152935731-441017b6-ba70-4eeb-9ccc-c75b20d38f8c.png">

[2022-02-08 07:47] stebo85 commented on #107
Dear @civier - I don't think what you are trying is possible. I would in general advice against using sshfs. If you really must use it, then it would be better to mount this drive from the main container and then pass it through to the singularity container via bindmounts.

[2022-02-08 07:55] civier commented on #107
Thanks for the quick response @stebo85

1. We use sshfs as a temporary solution and it works well for us. However, the problem is when it gets disconnected after all -- because Singularity bindmounts can only be set up at startup, it means that we need to restart the Singularity container, and it often not convenient to the user (e.g., if they have a GUI open with a specific layout or with specifi

[2022-02-08 08:57] stebo85 commented on #107
Dear @civier

As you noticed already yourself: SSHFS is not a stable way of connecting and this is the main reason I would not recommend it.

If you really need to run apt in an overlay you cannot use CVMFS, but you need to use the simg file:

[code]

now you can run it:
<img width="852" alt="image" src="https://user-images.githubusercontent.com/4021595/152952217-b054499d-27f1-4c1e-a4bd-c6ab023ef3

[2022-06-18 09:33] yarikoptic opened #111 "deduplication"
just listened to the talk during OHBM 2022 brainhack.  you have mentioned that you use deduplication filesystem, but I have missed exact name.  Was it the https://github.com/opendedup/sdfs ? or https://github.com/cvmfs/cvmfs ? or ... ?

I wondered if you compared to other solutions?  E.g. in my case I am a big fan of BTRFS due to its efficient operation with git-annex (https://www.datalad.org/test

[2022-06-18 09:38] stebo85 commented on #111
Dear @yarikoptic,

we use CVMFS because in addition to the deduplication we need to bring it to the end-user via HTTP. I am not aware of any other filesystems that can do that :)

big fan of BTRFS as well - I run this on my NAS at home and love it (the love started after it got mature enough :D - the beginnings were less lovely)

Thank you
Cheers
Steffen

[2022-06-18 09:38] #111 closed

[2022-07-27 21:48] stebo85 opened #114 "output /README.md on module load"
users running
[code]

do not see the warning that freesurfer requires a license file to work

[2022-08-08 21:50] stebo85 opened #116 "update github CI version to 22.04?"
<img width="740" alt="image" src="https://user-images.githubusercontent.com/4021595/183520717-cb9be050-2560-4662-b378-85b49fdbcf8e.png">

[2022-08-21 22:22] stebo85 opened #118 "add a new line to apps.json to specify an additional mountpoint"
the idea is to have an additional mountpoint so that we can mount an unwritable directory inside the container to a writable directory outside the container

This would solve our Matlab license problem that @civier is working on.

It would also solve our Slicer extension install problem

and it would solve our VScode extension problem

and the physio container issue: downloads examples when runnin

[2022-08-21 22:30] civier commented on #118
That sounds like a great idea!
Specifically with MATLAB, I need to see if there are any other files stored in the folder MATLAB tries to save the license to?

[2022-08-21 22:36] stebo85 commented on #118
related to neurodesktop#89

[2022-08-21 23:07] civier commented on #118
@stebo85 Let me know when done, and I can test.

[2022-09-14 07:59] stdweird opened #121 "Add/update latest tag"
Linux instructions in https://www.neurodesk.org/docs/neurocommand/getting-started/linux/#command-line-mode-eg-running-on-an-hpc-or-cvl assume the latest commit in this repo is always working.

Ideally, a github action is added to the current testing actions that sets/updates a latest tag that can be used instead. Right now, simple typo in main and some bad timing could mean that stuff is broken.

[2022-09-14 08:58] stebo85 commented on #121
Dear @stdweird - thank you for raising this issue.

I would like to propose the following solution: We protect the master branch of neurcommand and it's only possible to merge changes if our unitests pass.

@aswinnarayanan - any thoughts on this?

Thank you
Steffen

[2022-09-17 22:32] stebo85 commented on #121
I now protected the main branch. It's not possible anymore to directly commit to main and everything has to go via a pull request with approval. To be able to merge our unittests have to pass.

I am testing this now and once it seems all working I close this issue :)

Sorry again for breaking your workflow @stdweird - this should hopefully not happen again so easily (assuming our unittests cover e

[2022-09-18 07:34] stebo85 commented on #121
@aswinnarayanan - one little hickup: With the new protected main branch the autocommit doesn't work anymore. Any idea to push the changes directly to the website without committing it back to neurocommand :?

[2022-09-18 08:06] stebo85 commented on #121
@aswinnarayanan, I found a workaround: I had to create a personal access token for the commit and this commit can now skip the branch protection. Needs more testing and I hope this works.

[2022-09-19 07:21] stdweird commented on #121
@stebo85 thanks for improving/protecting the flow. a chat is ok for me, but don't expect anything fancy ;) you can PM me with some dates.

[2022-10-20 17:55] stebo85 commented on #118
It's already done @civier

[2022-10-23 03:10] stebo85 commented on #121
closing this, because the protected branch feature and automated unit testing before merges get accepted solves this issues elegantly

[2022-10-23 03:10] #121 closed

[2022-11-10 04:13] stebo85 commented on #118
solved

[2022-11-10 04:13] #118 closed

[2022-11-17 11:38] civier commented on #118
Hi Steffen,

Can you refer me to where it is documented how to specify the additional mountpoint in the apps.json file? I checked the current apps.json, and didn't see any such lines.

Or do you mean that you solved the MATLAB issue in a different way? How?

Best,
Oren

[2022-11-17 17:02] stebo85 commented on #118
Dear @civier,

We solved it by mounting the license directories via an entry in the .bashrc:

https://github.com/NeuroDesk/neurodesktop/blob/2ccdf46dee653402a6844b304c995644e1bb04be/config/.bashrc#L30

Kind regards
Steffen

[2022-11-23 04:38] kel-github opened #133 "issue installing R packages using Neurodesk Docker"
Hey team Neurodesk folks,

I am using Neurodesk on the CVL on Wiener. I am trying to install the package "brms"
https://www.jstatsoft.org/article/view/v080i01

The steps I take are:
i) open rstudioGUI 1.4.11
ii) install.packages("rstan") # this step works fine
iii) install.packages("brms")

Which gives the error:
* installing *source* package ‘bayesplot’ ...
** package ‘bayesplot’ successfully unp

[2022-11-23 04:41] stebo85 commented on #133
Thank you for reporting this - I have a look at this

[2022-11-23 23:48] stebo85 commented on #133
So, right now, I think it's a bug in bayesplot and I am currenlty trying this workaround:

https://stackoverflow.com/questions/74546310/error-when-installing-brms-package-in-r-bayesplot-cannot-be-installed

[2022-11-24 00:40] kel-github commented on #133
Ah, sorry I didn't find that intel. I also started giving the solution a go
but ran into issues when installing devtools. Let me know if it's helpful
to keep pursuing or if it's better to hold off :)

On Thu, 24 Nov 2022 at 09:48, Steffen Bollmann ***@***.***>
wrote:

--
Kelly Garner, PhD, she/her
Postdoctoral Research Fellow

Google Scholar
<https://scholar.google.co.uk/citations?user=nmeSlZkAAAA

[2022-11-24 00:53] stebo85 commented on #133
yes, I ran into the same issue with devtools - I am currenlty building a new container where I can control the problematic dependencies

[2022-11-24 01:37] stebo85 commented on #133
ok, I got it to work and the new container is now building:
https://github.com/NeuroDesk/neurocontainers/actions/runs/3536983328/jobs/5936550838

[2022-11-24 01:43] stebo85 commented on #133
can you send me a little test code snippet for brms so I can test if it indeed works in the new container before releasing it?

[2022-11-24 01:54] kel-github commented on #133
This should work (I copied it from a tutorial):

[code]

On Thu, 24 Nov 2022 at 11:43, Steffen Bollmann ***@***.***>
wrote:

--
Kelly Garner, PhD, she/her
Postdoctoral Research Fellow

Google Scholar
<https://scholar.google.co.uk/citations?user=nmeSlZkAAAAJ&hl=en>
ResearchGate <https://www.researchgate.net/profile/Kelly_Garner>

*U**Q* *A**L**L**Y*   ::  *Supporting the diversity of sexuality, sex

[2022-11-29 23:04] stebo85 commented on #133
Dear @kel-github ,

I think I fixed it :) There is now a new container in version 2022.07.02

Can you test on the https://bhsydney.neurodesk.org instance if your example is nicely working?

<img width="1586" alt="image" src="https://user-images.githubusercontent.com/4021595/204667363-87ac5d36-ba64-48df-8843-a7ae347c94bb.png">

If everything is working than @aswinnarayanan  can update the container